@model IEnumerable<demotest.Models.demokhoangoai>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.demokhoangoaiName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teskhoatrong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.demokhoangoaiName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teskhoatrong.teskhoatrongID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.demokhoangoaiID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.demokhoangoaiID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.demokhoangoaiID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
